@font-face {
	font-family: "Product Sans";
	src: url(../assets/font/ProductSans.ttf) format("truetype");
}

html {
    background: url(bg.png) no-repeat center center fixed; 
    background-size: cover;
}

h1 {
	font-family: 'Product Sans', sans-serif;
	font-size: 4em;
}

/* width */
.scrollCustom::-webkit-scrollbar {
    width: 10px;
    height: 4px;
  }
  
  /* Track */
  .scrollCustom::-webkit-scrollbar-track:horizontal {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .scrollCustom::-webkit-scrollbar-thumb:horizontal {
    background: #888; 
  }
  
  /* Handle on hover */
  .scrollCustom::-webkit-scrollbar-thumb:horizontal:hover {
    background: #555; 
  }

.modern {
    border-radius: 20px;
}

.prime-prog {
    background-image: linear-gradient(to left bottom, #613ba0, #7b3a9f, #933a9c, #a73a99, #ba3b94);
}

.sec-prog {
    background-image: linear-gradient(to left bottom, #f2557b, #f86173, #fc6d6c, #fe7a66, #ff8761);
}

.terce-prog {
    background-image: linear-gradient(to left bottom, #ff9856, #ffa859, #fdb75e, #fcc666, #f9d571);
}

.next-prog {
    background-color: rgba(255, 255, 255, 0.9);
}

.set-position {
    position: fixed;
    top: 10px;
    left: 10px;;
}

.mega-title {
    font-family: 'Product Sans', sans-serif;
    font-size: 5.4em;
    color: white;
}

.register-btn {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1em;
}

.btn-ggj {
    background-color: rgba(255, 255, 255, 0.1);
}