body {
	font-family: 'Roboto', sans-serif; 
	font-weight:400;
}

h1 {
	font-family: 'Product Sans', sans-serif;
	font-size: 6em;
}

.rounded {
	border-radius: 18px;
}

.brand-logo {
	position: fixed !important;
	top: 10px !important;
	left:1% !important;
}

.toper {
		position: absolute;
		width: 100%;
		top: 25%
	}
	@media (max-width: 500px) {
	   .toper {
	   		top: 7%;
		}
}

.arrow {
  text-align: center;
  margin: 1% 0;
}

.trans {
	transition: all 0.2s;
}

.centering-parent {
	height: 100%;
}

@media only screen and (max-width: 1000px) {
	.brand-logo {
		left: 20% !important;
	}
}

.blue-real-bg {
	background-color: blue;
}

.top-header {
	background: url(../header.jpg) no-repeat center fixed;
	background-size: cover; height: 100vh;
	width: 100%;
	background-color: blue;
}

.cqbg {
	height: 100vh;
	background: url(../l1.png) no-repeat center scroll;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.card.hoverable {
box-shadow: 0 2px 2px 0 blue, 0 3px 1px -2px blue, 0 1px 5px 0 blue;
}

.card.hoverable:hover {
    box-shadow: 2px 4px 5px 0 blue, 2px 5px 3px -3px blue, 2px 5px 10px 0 blue;
}

.blue_qg {
	background-color: #0d1c6b;
}

::selection {
	background-color: blue;
}